.center{
    width: 800px;
    margin: auto;
}
table{
    text-align: center;
}

.kiso{
    background-color: aqua;
}
.hatten{
    background-color:chartreuse;
}
.ryouiki{
    background-color: crimson;
}
p1{
    color:hotpink
}